{% load martortags %}
<div class="post-container">
    {% if request.resolver_match.url_name == "blog" %}
    <a class="default-link" href="{% url 'post' object.slug %}">
    {% endif %}

    <h2 class="post-title">{{ object.title }}</h2>

    {% if request.resolver_match.url_name == "blog" %}
    </a>
    {% endif %}
    <p class="post-date mb-0">{{ object.date }}</p>
    <p class="post-tags">
        {% for tag in object.tags.all %}
            <span class="badge rounded-pill bg-light text-dark">{{ tag }}</span>
        {% endfor %}
    </p>
    <div class="post-content">{{ object.content|safe_markdown }}</div>
</div>
